
.card{
    margin: 40px;
}

.card-body{
     justify-items: center;
      font-family: Gotham Rounded;
      background: #FFFFFF;
      box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
      padding: 22px;;
     
    
    }

    .card-title1{
        display:flex;
        font-size: 20px;
        color: #262B3D;
        justify-content: center;
       
        margin-top:16.6px;
      }
      .card-title2{
        display:flex;
        font-size: 20px;
        color: #262B3D;
        justify-content: center;
       
      }
      .container{
          display: flex;
        padding: 40px;

      }
      