<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <img style ="    height: 80px;
    width: 100px;"src="assets/img/istockphoto-1171617683-612x612.jpg" class="img-rounded" alt="Cinque Terre">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
            Student
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
            <li><a class="dropdown-item" routerLink="studentsList">Student Lit</a></li>
            <li><a class="dropdown-item" routerLink="studentsAdd">Student Add</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
            Teachers
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
            <li><a class="dropdown-item" routerLink="teachersList">Teachers Lit</a></li>
            <li><a class="dropdown-item" routerLink="teachersAdd">Teachers Add</a></li>
          </ul>
        </li>
       </ul>
     
    </div>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
  </div>
</nav>

<div class ="container" >
  <div class="card" style="width: 10rem;">
      <div class="card-body">
        <div class ="card-title1">
            <i class="bi bi-people-fill"></i>
            <p class="">4000</p>
            

        </div>
        <div class ="card-title2">
            <a routerLink="studentsList" class="btn btn-primary">Students</a>
        </div>
      </div>
  </div>

  <div class="card" style="width: 10rem;">
    <div class="card-body">
      <div class ="card-title1">
          <i class="bi bi-people-fill"></i>
          <p class="">4000</p>
          

      </div>
      <div class ="card-title2">
          <a routerLink="studentsList" class="btn btn-primary">Students</a>
      </div>
    </div>
</div>


<div class="card" style="width: 10rem;">
  <div class="card-body">
    <div class ="card-title1">
        <i class="bi bi-people-fill"></i>
        <p class="">4000</p>
        

    </div>
    <div class ="card-title2">
        <a routerLink="studentsList" class="btn btn-primary">Students</a>
    </div>
  </div>
</div>


<div class="card" style="width: 10rem;">
  <div class="card-body">
    <div class ="card-title1">
        <i class="bi bi-people-fill"></i>
        <p class="">4000</p>
        

    </div>
    <div class ="card-title2">
        <a routerLink="studentsList" class="btn btn-primary">Students</a>
    </div>
  </div>
</div>

  <div class="card" style="width: 10rem;">
    <div class="card-body">
      <div class ="card-title1">
          <i class="bi bi-people-fill"></i>
          <p class="">4000</p>
          

      </div>
      <div class ="card-title2">
          <a routerLink="studentsList" class="btn btn-primary">Students</a>
      </div>
    </div>

    
    
    

</div>


</div>


 
<router-outlet></router-outlet>


<div class="footer">
  footer
</div>